{% extends "layout.html" %}

{% block afterstyle %}
<style type="text/css">
  pre.prettyprint {
      margin: 6px 0;
      overflow: auto;
      padding: 6px 10px;
      white-space: pre;
  }
  #sidenav {
      margin: 0 40px 20px 20px;
      padding: 0;
      border-radius: 5px;
      background-color: #fff; 
  }
  #sidenav li a {
      display: block;
      padding: 10px 0 10px 20px;
      border-bottom: 1px solid #eee;
      font-size: 16px;
  }
  #sidenav li:first-child a{
      border-radius: 5px 5px 0 0;
  }
  #sidenav li:last-child a{
      border-radius: 0 0 5px 5px; 
      border-bottom: none;
  }
  #sidenav li a:hover,
  #sidenav li.active a {
      text-decoration: none;
      color: #fff;
      background-color: #6C97C2;
  }
  .frozen-module {
      margin: 10px 0 20px; 
  }
  .frozen-module-demo {
      position: relative;
      margin: 10px 0 20px;
      padding: 40px 20px 20px;
      overflow: hidden;
      border: 1px solid #eee;
      background-color: #fff;
  }
  .frozen-module-subtitle {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 3px;
      margin: 0;
      color: #777;
      font-size: 12px;
      background: #F8F8F8;
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
      display: block;
      font-size: 12px;
      width: 150px;
      padding: 5px 10px;
      opacity: 0.8;
  }

  .demo {
    padding:1rem;
    color:#fff;
    background-color:#6C97C2;
  }
    .ui-btn-group, .ui-dialog,.ui-tips{
        position: static;
        margin: 20px 0;
    }

	.ui-icon{font-size:30px;}
	.ui-table{line-height: 40px;}
	.frozen-module-dom{position: relative;}
</style>
{% endblock %}

{% block content %}
<div id="title-wrapper">
    <h1 id="title" class="inline"><a href="./">Frozen</a></h1>
    <p id="description"></p>
</div>
<div id="main-wrapper">
    <div class="main-block" id="document-wrapper">
        <ul id="sidenav">
        {% for item in resource.pages %}
        {% if not item.meta.template %}
        <li><a href="#frozen-module-{{item.title|lower}}">{{item.title|lower}}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div class="main-block" id="module-wrapper">
        <div class="frozen-modules"></div>
    </div>
</div>
<div id="footer-wrapper">
  <footer>
    <p class="powered">
        <a href="http://aralejs.org">Arale</a> •
        <a href="http://aliceui.org">Alice</a> •
        <a href="http://seajs.org">SeaJS</a> •
        <a href="https://github.com/spmjs/spm">spm</a> •
    </p>
  </footer>
</div>

<script type="text/template" id="frozen-module-demo">
    <div class="frozen-module-demo">
        <h3 class="frozen-module-subtitle">Default</h3>
        <div class="frozen-module-dom"></div>
        <pre class="frozen-module-code prettyprint"></pre>
    </div>
</script>
<script type="text/javascript" src="{{static_url('google-code-prettify/prettify.js')}}"></script>
<script type="text/javascript" src="http://static.alipayobjects.com/seajs/1.3.1/sea.js"></script>
<script type="text/javascript">
(function(){
    seajs.config({
        base: 'http://static.alipayobjects.com',
        alias: {
            '$': 'gallery/jquery/1.8.2/jquery',
            'fixed': 'arale/fixed/1.0.0/fixed'
        },
        preload: ['seajs/plugin-combo'],
    });
    seajs.use(['$', 'fixed'], function($, Fixed) {
        Fixed('#document-wrapper');

        var frozenComponents = $('#sidenav li'); 
        $.each(frozenComponents, function(i, item){
            var name = $(item).find('a').html(),
                id = 'frozen-module-' + name;

            var module = $('<div class="frozen-module"><h2><a href="#"></a></h2></div>');
            module.attr('id', id)
                .appendTo('.frozen-modules');
            $.ajax({
                url: name + '.html',
                dataType: 'html',
                success: function(content) {
                    content = $(content);
                    var name = content.find('.frozen-module-title').html();
                    module.find('h2 > a').html(name)
                        .attr('href', name.toLowerCase() +'.html');
                    content.find('.nico-insert-code').each(function(i, item){
                        item = $(item);

                        var demo = $($('#frozen-module-demo').html()),
                            subtitle = item.prev().html(),
                            html = item.html();

                        demo.find('.frozen-module-subtitle').html(subtitle);
                        demo.find('.frozen-module-dom').html(html);
                        demo.find('.frozen-module-code').html(HtmlToCode(html));
                        demo.appendTo(module);
                    });
                }
            }); 
        });
        function HtmlToCode(html) {
            var code = html;
            code = code.replace(/</g, '&lt;').replace(/>/g, '&gt;');
            code = code.replace(/^\s*\n/, '').replace(/\n\s*$/, '');
            code = PR.prettyPrintOne(code, 'html', false);
            return code;
        }

        // side

        var titles = $('.frozen-modules h2');
        var doc = $(document);
        if (titles.length <= 0) {
            return;
        }

        $(window).scroll(function() {
            var top = doc.scrollTop(), i;
            if (top >= doc.height()- $(window).height() - 20) {
                i = titles.length - 1;
            } else {
                for (i=0; i<titles.length; i++) {
                    if (top < titles.eq(i).offset().top - 20) {  
                        break;
                    }
                }
                i--;
                i = (i<0) ? 0 : i;
            }
            $('#sidenav .active').removeClass('active');
            $('#sidenav li').eq(i).addClass('active');
        });
    })
})();
</script>
{% endblock -%}
